PUBLIC_KEY=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJiaBac/CNCCRTGy5zfy5HAs6I2408IQoRFeh7EIOsIuKA65LtMpYl3vkZkoJRd80nq+PB0Xb9N65bJUb8IZFTMCAwEAAQ==
PRIVATE_KEY=MIIBOgIBAAJBAJiaBac/CNCCRTGy5zfy5HAs6I2408IQoRFeh7EIOsIuKA65LtMpYl3vkZkoJRd80nq+PB0Xb9N65bJUb8IZFTMCAwEAAQJALvHK5W1lx8cbhDN2H+cP0VZvYBHIyv2UnyRGd/aBJPTVChzuUVV7EFmmbMvK7fB+YUo6ZZjjn6Qp0zQmdH2laQIhAOX9qoWM6K2LLcAxmFoUl1duYHGPYRd3784fUTFqJsJ/AiEAqdvnnC39Zy2whsYlC9Y+4bZuyOryzya8Z4PNEQEa600CIQDeeGuUV+NSy8hrmw3GRRjICArejlTawLeE6SI+7HGlvQIgaSBJ41ZvXBliBLfDm+TYfDe9ryoCZwTxXButolWNxI0CIC1O8ReOpMK63fbzCw/G6w+q4b71KXo6WrXxHBV+IoJd
MONGODB_URI=mongodb://localhost:27017/etiquetas