PUBLIC_KEY=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAI0cnhsjihnHc4JYkX5qf2XRAVZttfUKEBkBzfoEQ93xKfQJQ+OkkXCM+e0yYqtVZNEA3hcs8n9pN0e2bSbtRr8CAwEAAQ==
PRIVATE_KEY=MIIBOgIBAAJBAI0cnhsjihnHc4JYkX5qf2XRAVZttfUKEBkBzfoEQ93xKfQJQ+OkkXCM+e0yYqtVZNEA3hcs8n9pN0e2bSbtRr8CAwEAAQJAbSk4PfJOQQcEGk99rfeguhjnGf8hBYBVV6MHvmNSRPvBlefugOh6iISixVFYKSitcEI1iwUrdW1bmV9w92umYQIhAOV45FWDbqnckXipXkP52M7mFzJMLzRyPDelslunglDnAiEAnWy+2SS47pyukGnpUgOTzNyVhFcH2V3FnBfgU4K6KGkCIAFWaQ5Oi9CVpotrgU8oH6llEfGLHCNUHyG754Q9P7c1AiBz5TM7uYVMZZ0+RDq5XljZYSvSGiB1Lkvk9s73rC5QwQIhANZZxKeoTKE40c5u5m04TIuW/Lgv9Un6dEBzkLlPk2Tm
MONGODB_URI=mongodb://localhost:27017/etiquetas